<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sergiocuadrado.mrfox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_fox"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_fox_round"
        android:supportsRtl="true"
        android:theme="@style/MrFoxTheme">
        <activity
            android:name=".MySplash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyMain"
            android:label="@string/title_activity_my_main"
            android:theme="@style/MrFoxTheme.NoActionBar" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/MrFoxTheme.NoActionBar"></activity>
    </application>

</manifest>